<footer class="w-full p-2 text-xs flex flex-col md:flex-row justify-around">
    <div class="flex justify-center gap-3 text-gray-600 dark:text-gray-400/45 select-none">
        <div>Copyright © {{currentYear}} MTC. Todos los derechos reservados.</div>
    </div>
    <div class="flex justify-center gap-3 text-gray-600 dark:text-gray-400/45">
        <div class="cursor-pointer hover:underline">
            <div>Política de privacidad</div>
        </div>
        <div>|</div>
        <div class="cursor-pointer hover:underline">
            <div>Aviso legal</div>
        </div>
        <div>|</div>
        <div class="cursor-pointer hover:underline">
            <div>Contacto</div>
        </div>
    </div>
</footer>
