mat-form-field .mat-mdc-form-field-bottom-align::before {
  display: none !important;
  content: none !important;
}

mat-form-field .mat-mdc-form-field-bottom-align {
  div {
    position: relative;
    padding-bottom: 0.25rem !important; 
    mat-error{
      padding-top: 0.25rem !important;
    }
  }
}

mat-form-field {
  display: block !important;
}