@use '../../../app/styles/themes/vars.scss' as vars;

.auth-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  .container-left,
  .container-right {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: vars.$dark-background vars.$light-background;
  }
}

:host-context(body.dark-mode) {
  .container-left,
  .container-right {
    scrollbar-color: vars.$light-background vars.$dark-background;
  }
}
