@use '../../../app/styles/themes/vars.scss' as vars;

.auth-container 
{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  touch-action: pan-y;

  .container-left,
  .container-right 
  {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: vars.$dark-background vars.$light-background;
  }

  @media (max-width: 768px) 
  {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .container-left,
    .container-right 
    {
      flex: 1 1 382px;
      height: 100vh;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }
}

:host-context(body.dark-mode) 
{
  .container-left,
  .container-right 
  {
    scrollbar-color: vars.$light-background vars.$dark-background;
  }
}
