/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './app/styles/themes/custom_theme.scss' as custom-colors;
@use './app/styles/utils/transition-theme.scss';
@use './app//styles/themes/vars.scss' as vars;
@use './app/styles/material-fixes/form-field';
@use 'sass:map';
@import "./app//styles/base/tailwind.css";

html{
    @include mat.theme((
        color: (
            primary: custom-colors.$primary-palette,
            tertiary: custom-colors.$tertiary-palette,
        ),
        typography: (
            plain-family: Poppins,
            display-family: Helvetica Neue
        ),
        density: 0,
    ))
}

body{
    background-color: vars.$light-background;
    &.dark-mode{
        color-scheme: dark;
        background-color: vars.$dark-background;
    }
}

html, body { height: 100%; font-size: 14px; letter-spacing: -0.5px;}
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
